@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: theme('colors.midnight');
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes bounce {
  0% {
    transform: translateY(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes focus {
  0% {
    filter: blur(0px);
  }
  25% {
    filter: blur(0.75px);
  }
  50% {
    filter: blur(0px);
  }
  100% {
    filter: blur(0px);
  }
}

mark {
  background-color: transparent;
}

.bouncing-text mark {
  display: inline-block;
  animation: bounce 950ms ease-in-out infinite;
  /* focus 2000ms ease-in-out infinite 2s */
}

.shadow-text {
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: -0.11rem 0.11rem 0 theme('colors.gold');
  -webkit-text-stroke-color: theme('colors.gold');
  color: theme('colors.midnight');
  -webkit-text-fill-color: theme('colors.midnight');
  -webkit-text-stroke-width: 0.5px;
}
